@font-face {
  font-family: "Bell Gothic Std";
  src: local("Bell Gothic Std"),
   url(~assets/fonts/bell-gothic-std-black.woff) format("woff");
}

@font-face {
  font-family: "Magda";
  src: local("Magda"),
   url(~assets/fonts/magda.woff) format("woff");
}

@font-face {
  font-family: "Magda Light";
  src: local("Magda Light"),
   url(~assets/fonts/magda-light.woff) format("woff");
}